<p id="notice"><%= notice %></p>

<h1>Developers</h1>

<div class="card-container">
    <% @developers.each do |developer| %>
      <div class="ui card">

        <div class="image">
          <%if developer.image.attached? %>
            <%= image_tag (developer.image)%>
          <% end %>
        </div>

        <div class="content">
          <%= link_to developer.full_name, developer_path(developer), class: 'header'%></a>
          
          <div class="meta">
            <%= developer.created_at%>
          </div>

          <div class="description">
            <%= developer.description%>
            <%= developer.email%>
          </div>
          
          <div class="extra content">
          <%= link_to 'More Info', developer_path(developer) %>
          <br/>
            <% if current_employer %>
              <%= link_to '<i class="far fa-comments"></i> Message'.html_safe, chat_messages_path(developer) %>
            <% end %>
          </div>
        </div>
        </div>  
    <% end %>   
</div>


