<p id="notice"><%= notice %></p>

<h1>Developers</h1>

<div class="main-index">
    <% @developers.each do |developer| %>
      <div class="ui card">
        <div class="image">
          <img src="https://help.github.com/assets/images/help/profile/identicon.png">
        </div>
        <div class="content">
          <a class="header"><%= developer.full_name%></a>
          <div class="meta">
            <%= developer.created_at%>
          </div>
          <div class="content">
          <%= developer.description%>
          </div>
          <div class="content">
          <%= developer.email%>
          </div>
          <div>
          <%= link_to 'More Info',developer %>
          </div>
        </div>  
    <% end %>   
</div>


