<p id="notice"><%= notice %></p>

<h1>Developers</h1>

<div class="main-index">
    <% @developers.each do |developer| %>
      <div class="ui card">
        <div class="image">
          <%if developer.image.attached? %>
            <%= image_tag (developer.image)%>
          <% end %>
        </div>
        <div class="content">
          <a class="header"><%=developer.full_name%></a>
          <div class="meta">
            <%= developer.created_at%>
          </div>
          <div class="content">
            <%= developer.description%>
          </div>
          <div class="content">
            <%= developer.email%>
          </div>
          
          <div class="content">
            <%= link_to 'More Info',developer %>
          </div>
            <div>
            <% if current_employer %>
            <a href="/messages/chat/<%= developer.id%>">Message <%=developer.first_name%></a>
            <% end %>
          </div>
          
        </div>  
    <% end %>   
</div>


