<p id="notice"><%= notice %></p>


<div class="main-index">
      <div class="ui card">
        <div class="image">
          <%if @developer.image.attached? %>
            <%= image_tag (@developer.image)%>
          <% end %>
        </div>
        <div class="content">
          <a class="header"><%=@developer.full_name%></a>
          <div class="meta">
            <%= @developer.created_at%>
          </div>
          <div class="content">
          Description: <%= @developer.description%>
          </div>

          <div class="content">
          Resume: <%= @developer.resume_url%>
          </div>

          <div class="content">
          Github: <%= @developer.github_url%>
          </div>

          <div class="content">
          Linkedin: <%= @developer.linkedin_url%>
          </div>

          <div class="content">
          Portfolio: <%= @developer.portfolio_url%>
          </div>

        <div class="content">
          City: <%= @developer.city%>
        </div>

         <div class="content">
          Zip: <%= @developer.zip%>
          </div>
          <div class="content">
          <%= @developer.email%>
          </div>
        </div>  


</div>

<h1>Open projects</h1>

<%@open_projects.each do |open_project| %>
  <p><%= open_project.project_name%></p>
<%end%>

<h1>Projects In Process</h1>

<%@inprogress_projects.each do |inprogress_project| %>
  <p><%= inprogress_project.project_name%></p>
<%end%>

<h1>Complete Projects</h1>

<%@complete_projects.each do |complete_project| %>
  <p><%= complete_project.project_name%></p>
<%end%>

<h1>Pending Projects</h1>

<%@pending_projects.each do |pending_project| %>
  <p><%= pending_project.project_name%></p>
<%end%>
