<p id="notice"><%= notice %></p>

<div class="show-profile">
      <div class="ui card">

        <div class="image">
          <%if @developer.image.attached? %>
            <%= image_tag (@developer.image)%>
          <% end %>
        </div>

        <div class="content">
          <div class="header">
            <%=@developer.full_name%>
          </div>

          <div class="meta">
            <%= @developer.created_at%>
          </div>
 
          <div class="description">
            <% if !@developer.description.nil? %>
              <strong>Bio</strong> <%= @developer.description %>
            <% end %>
          </div>

          <div class="extra content">
            <% if !@developer.email.nil? %>
              <strong>Email</strong> <%= @developer.email %>
              <br />
            <% end %>
            <% if !@developer.resume_url.nil? %>
              <strong>Resume</strong> <%= @developer.resume_url %>
              <br />
            <% end %>
            <% if !@developer.github_url.nil? %>
              <strong>Github</strong> <%= @developer.github_url %>
              <br />
            <% end %>
            <% if !@developer.linkedin_url.nil? %>
              <strong>Linkedin</strong> <%= @developer.linkedin_url %>
              <br />
            <% end %>
            <% if !@developer.portfolio_url.nil? %>
              <strong>Portfolio</strong> <%= @developer.portfolio_url %>
              <br />
            <% end %>
            <% if !@developer.city.nil? %>
              City <%= @developer.city%>
            <br>
            <% end %>
            <% if !@developer.zip.nil? %>
              Zip <%= @developer.zip %> 
            <% end %>
          </div>
        </div>  
  </div>
  <div class="proj-profile">
    <h1>Projects</h1>
    <h2>Open</h2>
    <%@open_projects.each do |open_project| %>
      <h3><a href='/projects/<%=open_project.id%>'><%= open_project.project_name%></a></h3>
    <%end%>

    <h2>In Process</h2>
    <%@inprogress_projects.each do |inprogress_project| %>
      <h3><a href='/projects/<%=inprogress_project.id%>'><%= inprogress_project.project_name%></a></h3>
    <%end%>

    <h2>Complete</h2>
    <%@complete_projects.each do |complete_project| %>
      <h3><a href='/projects/<%=complete_project.id%>'><%= complete_project.project_name%></a></h3>
    <%end%>

  </div>
</div>
