<p id="notice"><%= notice %></p>

<h1>Developers</h1>
<h1><%= link_to 'View All Developers', developers_path %></h1>
<div class="main-index">
   
    <div class="ui card">
        <div class="image">
            <% if @developer.image.attached? %>
            <%= image_tag (@developer.image) %>
            <% end %>
        </div>
        <div class="content">
            <a class="header"><%= @developer.full_name%></a>
        </div>
        <div class="content">
            <p>Description: <%= @developer.description%></p>
        </div>
        <div class="content">
            <p>Email: <%= @developer.email%></p>
        </div>

        <div class="content">
            <p>Contact: <%= @developer.phone_number%></p>
        </div>

        <div class="content">
            <p>State: <%= @developer.state%></p>
        </div>
    </div>    
</div>
