<p id="notice"><%= notice %></p>

<h1>Hello, <%= current_developer.full_name %></h1>

<div class="main-index">
      <div class="ui card">
        <div class="image">
          <%if current_developer.image.attached? %>
            <%= image_tag (current_developer.image)%>
          <% end %>
        </div>
        <div class="content">
          <a class="header"><%=current_developer.full_name%></a>
          <div class="meta">
            <%= current_developer.created_at%>
          </div>
          <div class="content">
          Description: <%= current_developer.description%>
          </div>

          <div class="content">
          Resume: <%= current_developer.resume_url%>
          </div>

          <div class="content">
          Github: <%= current_developer.github_url%>
          </div>

          <div class="content">
          Linkedin: <%= current_developer.linkedin_url%>
          </div>

          <div class="content">
          Portfolio: <%= current_developer.portfolio_url%>
          </div>

        <div class="content">
          City: <%= current_developer.city%>
        </div>

         <div class="content">
          Zip: <%= current_developer.zip%>
          </div>
          <div class="content">
          <%= current_developer.email%>
          </div>
        </div>   
</div>

<h1>Open projects</h1>
<h1>Projects In Process</h1>
<h1>Complete Projects</h1>
