<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :developer_id %>
    <%= form.number_field :developer_id %>
  </div>

  <div class="field">
    <%= form.label :employer_id %>
    <%= form.number_field :employer_id %>
  </div>

  <div class="field">
    <%= form.label :project_name %>
    <%= form.text_field :project_name %>
  </div>

  <div class="field">
    <%= form.label :project_description %>
    <%= form.text_field :project_description %>
  </div>

  <div class="field">
    <%= form.label :project_review %>
    <%= form.text_field :project_review %>
  </div>

  <div class="field">
    <%= form.label :plattform_mobile %>
    <%= form.check_box :plattform_mobile %>
  </div>

  <div class="field">
    <%= form.label :plattform_desktop %>
    <%= form.check_box :plattform_desktop %>
  </div>

  <div class="field">
    <%= form.label :platform_tablet %>
    <%= form.check_box :platform_tablet %>
  </div>

  <div class="field">
    <%= form.label :assets_text %>
    <%= form.check_box :assets_text %>
  </div>

  <div class="field">
    <%= form.label :assets_images %>
    <%= form.check_box :assets_images %>
  </div>

  <div class="field">
    <%= form.label :assets_videos %>
    <%= form.check_box :assets_videos %>
  </div>

  <div class="field">
    <%= form.label :assets_audio %>
    <%= form.check_box :assets_audio %>
  </div>

  <div class="field">
    <%= form.label :assets_database %>
    <%= form.check_box :assets_database %>
  </div>

  <div class="field">
    <%= form.label :due_date_less_then_month %>
    <%= form.check_box :due_date_less_then_month %>
  </div>

  <div class="field">
    <%= form.label :due_date_one_month %>
    <%= form.check_box :due_date_one_month %>
  </div>

  <div class="field">
    <%= form.label :due_date_three_month %>
    <%= form.check_box :due_date_three_month %>
  </div>

  <div class="field">
    <%= form.label :due_date_plus_three_month %>
    <%= form.check_box :due_date_plus_three_month %>
  </div>

  <div class="field">
    <%= form.label :pages_landing_pages %>
    <%= form.check_box :pages_landing_pages %>
  </div>

  <div class="field">
    <%= form.label :pages_two_pages %>
    <%= form.check_box :pages_two_pages %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
