<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <h4>Search</h4>
  <div>
    <label>Platform Mobile</label>
    <%= f.select(
      :plattform_mobile,
      @filterrific.select_options[:plattform_mobile],
      include_blank: '- Any -' 
    ) %>
  </div>
  <div>
    <label>Platform Desktop</label>
    <%= f.select(
      :plattform_desktop,
      @filterrific.select_options[:plattform_desktop],
      include_blank: '- Any -' 
    ) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(partial: 'projects/list', locals: { projects: @projects }) %>
