<p id="notice"><%= notice %>
<div class="top-buttons">
  <h3><%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, projects_path %></h3>
</div>
   <% if current_employer && current_employer.id == @project.employer_id %>
      <h3><%= link_to '<i class="fas fa-edit"></i> Edit Project'.html_safe, edit_project_path(@project) %></h3> 
   <%end%>
<div class="project-container">
 
  <div class="project-main">


    <strong>Project</strong> <%= @project.project_name %>

    <br>
    <strong>Posted By</strong>
    <% specific_owner = Employer.find(@project.employer_id) %>
    <a href="/employers/<%= @project.employer_id %>"><%= specific_owner.full_name %></a>
    <br>

    <% if (@project.project_description != nil)%>
    <strong>Description</strong>
    <br>
    <%= @project.project_description %>
    <br>
    <%end%>
    <% if @project.developer_id%>
      <strong>Developer</strong> <a href="/developers/<%= @project.developer_id %>"><%= @project.developer.full_name %></a>
    <% end%>
    <br>
    <div class="project-review">
      <strong>Project Review</strong>
      <%= link_to "Write a Review", new_project_review_path(@project) %>
      <br>
      <% @reviews.each do |review| %>
        <div>
          <h1><%= review.title %></h1>
          <%= review.review %> 
        </div>
      <% end %>
      <% if current_employer and @project.employer_id == current_employer.id and  %>
        <%# Employers: project owners choose the applicant  %>
        <%= render(partial: 'projects/form_employer_select_applicant', object: @project) %>
      <% elsif current_developer and @project.project_status == "open" and !@project.aplications.where(developer: current_developer).exists? %>
        <%# Developers: New application for devs that haven't applied %>
        <%= render(partial: 'projects/form_developer_apply', object: @project) %>         
      <% end %>
            <% if current_employer and @project.employer_id == current_employer.id and @project.project_status == "in process" %>
            <p id='please_confirm'>Please confirm thet the project is complete.</p>
            
          <div id="confirm_complete">
              <a data-remote="true" href='/confirm/<%= @project.id%>'>Confirm</a> 
          </div> 
      <% end %>
    </div>
  </div>

  <%# Sidebar %>
  <div class="project-side">
    <table>
    <strong>Status</strong><br>
    <li><span class="project-status" id="project-status"><%= @project.project_status %></span></li>
    <br>
    <strong>Due Date</strong>
      <% if @project.due_date_less_then_month %>
        <li>&lt; 1 month</li>
      <% end %>
      <% if @project.due_date_one_month %>
        <li>1 month</li>
      <% end %>
      <% if @project.due_date_three_month %>
        <li>&gt; 3 months</li>
      <% end %>
      <% if @project.due_date_plus_three_month %>
        <li>3+ months</li>
      <% end %>
    <br>
    <strong>Platform</strong>
      <% if @project.plattform_desktop %>
        <li>Desktop</li>
      <% end %>
      <% if @project.plattform_mobile %>
        <li>Mobile</li>
      <% end %>
      <% if @project.platform_tablet %>
        <li>Tablet</li>
      <% end %>
    <br>
    <strong>Assets</strong>
      <% if @project.assets_text %>
        <li>Text</li>
      <% end %>
      <% if @project.assets_images %>
        <li>Images</li>
      <% end %>
      <% if @project.assets_videos %>
        <li>Videos</li>
      <% end %>
      <% if @project.assets_audio %>
        <li>Audio</li>
      <% end %>
      <% if @project.assets_database %>
        <li>Database</li>
      <% end %>
    <br>
    <strong>Pages</strong>
      <% if @project.pages_landing_pages %>
        <li>Landing Page</li>
      <% end %>
      <% if @project.pages_two_pages %>
        <li>2+ Pages</li>
    <% end %>
    <br>

  
  </table>

  </div>
</div>
  
<%#
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
    }
  });
</script>
%>
