<p id="notice"><%= notice %>
<div class="top-buttons">
  <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, projects_path %>
</div>
<div class="project-container">
  <div class="project-main">
    <strong>Project</strong> <%= @project.project_name %> <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_project_path(@project) %> 
    <br>
    <strong>Description</strong>
    <br>
    <%= @project.project_description %>

    <div class="project-review">
      <% if @project.developer_id%>
        <strong>Developer</strong> <%= @project.developer.full_name %>
      <% end%>
      <br>

      <strong>Project Review</strong>
      <%= link_to "Write a Review", new_project_review_path(@project) %>
      <br>
      <% @reviews.each do |review| %>
        <div>
          <h1><%= review.title %></h1>
          <%= review.review %> 
        </div>
      <% end %>
      <% if current_employer and @project.employer_id == current_employer.id and @project.project_status == "open" %>
        <%# Employers: project owners choose the applicant  %>
        <%= render(partial: 'projects/form_employer_select_applicant', object: @aplications) %>
      <% elsif current_developer and @project.project_status == "open" and !@aplications.where(developer: current_developer).exists? %>
        <%# Developers: New application for devs that haven't applied %>
        <%= render(partial: 'projects/form_developer_apply', object: @project) %>         
      <% end %>
    </div>
  </div>

  <%# Sidebar %>
  <div class="project-side">
    <table>
    <strong>Status</strong><br>
    <li><span class="project-status"><%= @project.project_status %></span></li>
    <br>
    <strong>Due Date</strong>
      <li>&lt; 1 month <%= @project.due_date_less_then_month %></li>
      <li>1 month <%= @project.due_date_one_month %></li>
      <li>&gt; 3 months <%= @project.due_date_three_month %></li>
      <li>3+ months <%= @project.due_date_plus_three_month %></li>
    <br>
    <strong>Platform</strong>
      <li>Desktop <%= @project.plattform_desktop %></li>
      <li>Mobile <%= @project.plattform_mobile %></li>
      <li>Tablet <%= @project.platform_tablet %></li>
    <br>
    <strong>Assets</strong>
      <li>Text <%= @project.assets_text %></li>
      <li>Images <%= @project.assets_images %></li>
      <li>Videos <%= @project.assets_videos %></li>
      <li>Audio <%= @project.assets_audio %></li>
      <li>Database <%= @project.assets_database %></li>
    <br>
    <strong>Pages</strong>
      <li>Landing Page <%= @project.pages_landing_pages %></li>
      <li>2+ Pages <%= @project.pages_two_pages %></li>
    <br>
    <strong>Posted by</strong><br/>
      <li><%= @project.employer.full_name %></li>
    </table>
  </div>
</div>
  
<%#
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
    }
  });
</script>
%>
