<p id="notice"><%= notice %></p>
<h1><%= @project.project_name %></h1>
<div>
    <strong>Project Name: </strong>
    <%= @project.project_name%>
</div> 

<div>
    <strong>Project Description: </strong>
    <%= @project.project_name%>
</div> 

<div>
    <strong>Project Review: </strong>
    <%= @project.project_review%>
</div> 

<div>
    <strong>Project Status: </strong>
    <%= @project.project_status%>
</div> 

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
