<p id="notice"><%= notice %></p>

<p>
  <strong>Developer:</strong>
  <%= @project.developer_id %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @project.employer_id %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <strong>Project review:</strong>
  <%= @project.project_review %>
</p>

<p>
  <strong>Plattform mobile:</strong>
  <%= @project.plattform_mobile %>
</p>

<p>
  <strong>Plattform desktop:</strong>
  <%= @project.plattform_desktop %>
</p>

<p>
  <strong>Platform tablet:</strong>
  <%= @project.platform_tablet %>
</p>

<p>
  <strong>Assets text:</strong>
  <%= @project.assets_text %>
</p>

<p>
  <strong>Assets images:</strong>
  <%= @project.assets_images %>
</p>

<p>
  <strong>Assets videos:</strong>
  <%= @project.assets_videos %>
</p>

<p>
  <strong>Assets audio:</strong>
  <%= @project.assets_audio %>
</p>

<p>
  <strong>Assets database:</strong>
  <%= @project.assets_database %>
</p>

<p>
  <strong>Due date less then month:</strong>
  <%= @project.due_date_less_then_month %>
</p>

<p>
  <strong>Due date one month:</strong>
  <%= @project.due_date_one_month %>
</p>

<p>
  <strong>Due date three month:</strong>
  <%= @project.due_date_three_month %>
</p>

<p>
  <strong>Due date plus three month:</strong>
  <%= @project.due_date_plus_three_month %>
</p>

<p>
  <strong>Pages landing pages:</strong>
  <%= @project.pages_landing_pages %>
</p>

<p>
  <strong>Pages two pages:</strong>
  <%= @project.pages_two_pages %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
