<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<div class="card-container">
  <% @employers.each do |employer| %>
    <div class="ui card">
      
      <div class="image">
        <%if employer.image.attached? %>
          <%= image_tag (employer.image)%>
        <% end %>
      </div>

      <div class="content">
        <%= link_to employer.full_name, employer_path(employer), class: 'header' %>
        
        <div class="meta">
          <%= employer.created_at%>
        </div>

        <div class="description">
          <%= employer.company_name%>
          <%= employer.email%>
        </div>

        <div class="extra content">
          <%= link_to 'More Info', employer_path(employer) %>
          <br/>
          <% if current_developer %>
            <%= link_to '<i class="far fa-comments"></i> Message'.html_safe, chat_messages_path(employer) %>
          <% end %>
        </div>
      </div>  
    </div>
    <% end %>   
</div>