<p id="notice"><%= notice %></p>

<h1>Hello, <%= current_employer.full_name %></h1>

<div class="main-index">
      <div class="ui card">
        <div class="image">
          <%if current_employer.image.attached? %>
            <%= image_tag (current_employer.image)%>
          <% end %>
        </div>
        <div class="content">
          <a class="header"><%=current_employer.full_name%></a>
          <div class="meta">
            <%= current_employer.created_at%>
          </div>
          <div class="content">
          Description: <%= current_employer.description%>
          </div>
          <div class="content">
          Company Name: <%= current_employer.company_name%>
          </div>

        <div class="content">
          Company Site: <%= current_employer.company_url%>
        </div>

        <div class="content">
          City: <%= current_employer.city%>
        </div>

         <div class="content">
          Zip: <%= current_employer.zip%>
          </div>
          <div class="content">
          <%= current_employer.email%>
          </div>
        </div>   
</div>

<h1>Open projects</h1>
<h1>Projects In Process</h1>
<h1>Complete Projects</h1>

