<p id="notice"><%= notice %></p>

<h1>Employers</h1>
<h1><%= link_to 'View All Employers', employers_path %></h1>
<div class="main-index">
   
    <div class="ui card">
        <div class="image">
            <%= image_tag (@employer.image) %>
        </div>
        <div class="content">
            <a class="header"><p>Owner's Name: <%= @employer.full_name%></p></a>
        </div>
        <div class="content">
            <p>Company Name: <%= @employer.company_name%></p>
        </div>
        <div class="content">
            <p>Description: <%= @employer.description%></p>
        </div>
        <div class="content">
            <p>Email: <%= @employer.email%></p>
        </div>

        <div class="content">
            <p>Contact: <%= @employer.phone_number%></p>
        </div>

        <div class="content">
            <p>State: <%= @employer.state%></p>
        </div>
    </div>    
</div>
<%= link_to 'Edit', edit_employer_registration_path(@employer) %> |
<%= link_to 'Delete', @employer, method: :delete, data: { confirm: 'Are you sure?' } %>