<p id="notice"><%= notice %></p>

<div class="show-profile">
      <div class="ui card">

        <div class="image">
          <%if @employer.image.attached? %>
            <%= image_tag (@employer.image)%>
          <% end %>
        </div>

        <div class="content">
          <div class="header">
            <%=@employer.full_name%>
          </div>

          <div class="meta">
            <%= @employer.created_at%>
          </div>

          <div class="content">
            <% if !@employer.company_name.nil? %>
              <strong>Company Name</strong> <%= @employer.company_name%>
              <br />
            <% end %>
            <% if !@employer.company_url.nil? %>
              <strong>Company Site</strong> <%= @employer.company_url%>
              <br />
            <% end %>
            <strong>Contact</strong> <%= @employer.email%>
          </div>

          <div class="description">
            <% if !@employer.description.nil? %>
              <strong>Description</strong> <%= @employer.description%>
              <br />
            <% end %>
          </div>
  
          <div class="extra content">
            <% if !@employer.city.nil? %>
              <strong>City</strong> <%= @employer.city%>
              <br />
            <% end %>
            <% if !@employer.zip.nil? %>
              <strong>Zip</strong> <%= @employer.zip%>
              <br />
            <% end %>
          </div>
        </div>   
</div>

<div class="proj-profile">
  <h1>Projects</h1>
  <h2>Open</h2>
  <%@open_projects.each do |open_project| %>
    <h3><%= open_project.project_name%></h3>
  <%end%>
  
  <h2>In Process</h2>
  <%@inprogress_projects.each do |inprogress_project| %>
    <h3><%= inprogress_project.project_name%></h3>
  <%end%>

   <h2>Complete</h2>
  <%@complete_projects.each do |complete_project| %>
    <h3><%= complete_project.project_name%></h3>
  <%end%>
  </div>
</div>

 
