<!DOCTYPE html>
<html>

<head>
  <title>JumpStar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav>
      <% if user_signed_in? %>
        <h2 id="welcoming_signedin_user"> HI, <%= current_user.first_name %> <%= current_user.last_name %>! You are <%= current_user.userable_type %> </h2>
         <div id="content">
        <div id="navigation_section">
        
            <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, :class => 'sign_out' %>
            <%= link_to 'EDIT PROFILE', edit_user_registration_path, :class => 'edit_profile' %>

            <div class='ui inverted segment'>
    <div class='ui inverted secondary menu'>
    <a href="/" class='item'>home</a>
      <a href="/employers" class='item'>employers</a>
      <a href="/projects" class='item'>projects</a>
      <a href="/developers" class='item'>developers</a>
      
      <a href ="/users/sign_in" class='item'> sing in</a>

      <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>
       
   </div>
  </div>
      <% end %> 
  </nav>
  
  

  <%= yield %>

</body>

</html>